body {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background-color: red;
    width: 30%;
}

.upper {
    background-color: blue;
    border-radius: 17px;
    height: 250px;
}

.upper__img {
    width: 100%;
    height: 100%;
    border-radius: 17px
}

.lower__form {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.lower__btn {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}